<header class="masthead">
    <nav class="language-nav">
        <ul>
            <a href="link">CSS</a>
            <a href="link">HTML</a>
            <a href="link">Javascript</a>
            <a href="link">Ruby</a>
        </ul>
    </nav>
    <nav class="masthead-links">
        <li>
            <button id="date">
                <span>Tuesday, October 18, 2016</span>
            </button>
            <button id="paper">
                <i class="fas fa-newspaper"></i>
                <span>Today's Paper</span>
            </button>
            <button id="video">
                <i class="fas fa-video"></i>
                <span>Video</span>
            </button>
            <button id="weather">
                <span>77°F</span>
            </button>
            <button id="stock">
                <span>AAO +100%</span>
            </button>
        </li>
    </nav>
</header>