.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    margin-bottom: 3px;
    border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-nav > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 30px 0 0;
}

.right-nav button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 0 5px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}


.right-nav i {

}