<header class="masthead">
    <nav class="language-nav">
        <ul>
            <a href="link">CSS</a>
            <a href="link">HTML</a>
            <a href="link">Javascript</a>
            <a href="link">Ruby</a>
        </ul>
    </nav>

    <nav class="logo">
        <img src="assets/AA_Times_Logo.png" alt="App Academy Logo">
    </nav>
    
    <nav>
    <ul class="masthead-links">
        <li id="date">
            <span>Tuesday, Octorber 18th, 2016&nbsp;&nbsp;&nbsp;</span>
        </li>
        
        <li id="paper">
            <i class="fas fa-newspaper"></i>
            <span>Today's Paper&nbsp;&nbsp;&nbsp;</span>
        </li>
        <li id="video">
            <i class="fas fa-video"></i>
            <span>Video&nbsp;&nbsp;&nbsp;</span>
        </li>
        <li id="weather">
            <button>77°F&nbsp;&nbsp;&nbsp;</button>
        </li>
        <li id="stock">
            <button>AAO <strong>+100%</strong>&nbsp;&nbsp;&nbsp;</button>
        </li> 
    </ul>
    </nav>
</header>