<section>
    <ul class="sections-nav">
        <li id="world">World</li>
        <li id="san-francisco">San Francisco</li>
        <li id="new-york">New York</li>
        <li id="bootcamp-prep">Bootcamp Prep</li>
        <li id="jumpstart">Jumpstart</li> 
        <li id="online">Online</li> 
        <li id="marketing">Marketing</li> 
        <li id="sales">Sales</li> 
        <li id="talent-match">TalentMatch</li> 
        <li id="alumni">Alumni</li> 
        <li id="all">ALL</li> 
    </ul>
</section>